.event-index-item-container {
    width: 320px;
    margin-bottom: 1px;
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: rgb(247, 244, 217);
    background-color: rgb(253, 253, 251);

    cursor:pointer;
    font-size: 13px;
}

.event-index-item-container > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.event-index-item-container > div:first-child > :first-child {
    font-style: italic;
    display: inline-block;
    width: 260px;
}

.push-right {
    width: 200px;
    height: 0px;
    font-size: 11px;
}