.event-index-item-container {
    width: 320px;
    margin-bottom: 1px;
    padding: 4px;
    background-color: rgb(254, 249, 238);

    cursor:pointer;
    font-size: 13px;
}

button.event-index-item-container {
    border: 1px solid black;
}

.event-index-item-container > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.event-index-item-container > div:first-child > :first-child {
    font-style: italic;
    display: inline-block;
    max-width: 240px;
}

.event-index-item-container > div:last-child > :last-child {
    font-size: 11px;
}

.push-right {
    width: 190px;
    height: 0px;
    font-size: 11px;
    margin-left: 10px;
}