.modal-background {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 18%;
  background-color: rgb(202, 193, 184);
  z-index: 2;
}

.modal-wrapper {
  position: fixed;
  background-color: white;
  border: 2px solid black;
  left: 35vw;
  right:auto;
  top: 30%;
  width: 480px;
  height: 30%;
  min-height: 244px;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-bar-container {
  display: flex;
  justify-content: right;
  position: absolute;


  width: 100%;
}

#nav-bar {
  padding-top: 5px;
  padding-right: 32px;
}

#nav-bar > button {
  display: block;
  height: 30px;
  width: 84px;

  box-shadow: 0px 0px 2px rgb(211, 206, 201);
  border: 2px solid black;
  background-color: white;

  font-size: 15px;
}

#nav-bar > div > ul {
  box-shadow: none;
  border-radius: 0px;
  border: 2px solid black;

  border-top: white;
  min-width: 84px;
  padding: 0px 0px;
  z-index: 1;
}

#nav-bar > div > ul > li {
  width: auto;
  padding: 8px 0px;
  padding-left: 5px;
} 