/* more zig zag background */
.pattern {
   min-height: 100vh;
   width: 100%;
}

#zig-zag11 {
   position: absolute;
   z-index: -1;
   background:
      linear-gradient(135deg, rgb(247, 246, 245) 25%, transparent 25%) -10px 0,
      linear-gradient(225deg, rgb(247, 246, 245) 25%, transparent 25%) -10px 0,
      linear-gradient(315deg, rgb(247, 246, 245) 25%, transparent 25%),
      linear-gradient(45deg, rgb(247, 246, 245) 25%, transparent 25%);
   background-size: 20px 20px;
   background-color: #fff;

}

#blank-page {
   display: flex;
   justify-content: center;
   background-color: white;
   margin-top: 19vh;
   width: 790px;

   border-radius: 4px;
   border: 2px solid black;
}

#buttons-container {
   height: 170px;
   width: 120px;

   border-right: 4px solid black;

   float: left;
}

.claw-middle{
   width: 0;
   height: 0;
   position: absolute;
   z-index: 2;

   margin-left: 44px;
   border-left: 7px transparent solid;
   border-bottom: 10px black solid;
   border-right: 7px solid transparent;
}

.claw-pointer {
   width: 0;
   height: 0;
   position: absolute;
   z-index: 2;

   margin-left: 60px;
   border-left: 10px transparent solid;
   border-bottom: 15px black solid;
   border-right: 7px solid transparent;
}

.claw-right {
   width: 0;
   height: 0;
   position: absolute;
   z-index: 2;

   margin-left: 17px;
   border-left: 15px black solid;
   border-top: 20px solid transparent;
   border-bottom: 20px solid transparent;
}

.claw-left {
   width: 0;
   height: 0;
   position: absolute;
   z-index: 2;

   margin-left: 17px;
   border-left: 15px black solid;
   border-top: 20px solid transparent;
   border-bottom: 20px solid transparent;
}

#cost-header {
   border: 4px solid black;
   border-top: 0;
   border-bottom: 0;

   height: 75px;
   width: 170px;
   max-width: 200px;
}

#cost-header > div {
   display: flex;
   justify-content: center;
   margin-top: 32px;
   font-size: 26px;
   width: 170px;
   max-width: 200px;
}
#description {
   text-indent: 0;
   margin: 4px;
}

#description-container {
   display: flex;
   flex-direction: column;

   width: 100%;
   height: 164px;
   border-bottom: 4px solid black;

   text-indent: 120px;
   font-size: 14px;
   line-height: 1.8;
}

#event-header {
   display: flex;
   flex-direction: row;
   height: 72px;
   width: 100%;

   border-bottom: 4px solid black;
}

#event-image {
   display: flex;
   justify-content: center;
   align-items: center;
   /* border: 1px solid black; */
   border-radius: 4px;

   height: 40px;
   width: 100px;
   margin: 50px;
}

#event-image-container {
   display: flex;
   justify-content: center;
   align-items: center;

   float: right;
   height: 170px;
   width: 423px;
}

#event-image >img {
   max-height: 160px;
   max-width: 418px;
}

#event-show-border {
   border: 6px solid black;

   margin: 14px;
   margin-top: 18px;
   width: 100%;
   height: 93%;
}

#event-show-border>div {
   font-family: Eskool;
}

.event-show-buttons {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;

   height: 100%;
   width: 100%;
}

.event-show-buttons > button {
   border: 1px solid black;
   background-color: white;
   height: 30px;
   font-size: 15px;
   width: 84px;
}

.event-show-page-button {
   display: block;
   border: 1px solid black;
   background-color: white;
   height: 30px;
   font-size: 15px;
   width: 150px;
}

.event-show-page-wrapper {
   display: flex;
   justify-content: center;
}

#heart {
   width: 48px;
   cursor: pointer;
}

#heart-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   padding: 3px;
   width: 80px;
   height: 66px;

   font-family: Gelica;
   font-size: 10px;
   font-style: italic;
   color: maroon;
}

#location-container {
   display: flex;
   flex-wrap: wrap;
   float:left;

   width: 200px;
   height: 170px;

   border-right: 4px solid black;
}

#location-container > div {
   padding: 25px;
   padding-top: 28px;
}

#location-container > div > p {
   display: block;

   height: 20px;
   margin-left: 12px;
}

#location-container > div > p:first-child {
   margin-top: 24px;
}

.middle-right {
   z-index: -1;
   margin-top: 435px!important;
   margin-left: 800px;

   height: 100px!important;
   width: 100px!important;
}

.middle-left {
   z-index: -1;
   transform: scaleX(-1);
   margin-top: 435px!important;
   margin-right: 800px;

   height: 100px!important;
   width: 100px!important;
}

.paw-left {
   margin-right: 800px;
   transform: scaleX(-1);
}

.paws.paw-left:hover {
   margin-right: 866px;
}

.paw-right {
   margin-left: 800px;
}

.paws.paw-right:hover {
   margin-left: 866px;
}

#people-going-hide {
   display: none;
}

#people-going-hover:hover + #people-going-hide {

}

.pointer-left {
   z-index: -1;
   transform: scaleX(-1);
   margin-right: 958px;
   margin-top: 468px!important;


   height: 100px !important;
   width: 100px !important;
}

.pointer-right {
   z-index: -1;
   margin-left: 958px;
   margin-top: 468px!important;


   height: 100px !important;
   width: 100px !important;
}

.pawlm {
   position: absolute;
   z-index: -1;
   width: 250px;
   height: 250px;
   border-radius: 50%;
   margin-top: 460px;

   /* https: //doodad.dev/pattern-generator/ */
   background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='23' height='23' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(73)'%3E%3Crect width='100%25' height='100%25' fill='rgba(56, 39, 36,1)'/%3E%3Cpath d='M0 29a 9-9 0 0 0 9-9a 11-11 0 0 1 11-11v2a-9 9 0 0 0-9 9a-11 11 0 0 1-11 11zM0 69a 9-9 0 0 0 9-9a 11-11 0 0 1 11-11v2a-9 9 0 0 0-9 9a-11 11 0 0 1-11 11z' fill='rgba(141, 111, 94,1)'/%3E%3Cpath d='M20 29.5a 9.5-9.5 0 0 0 9.5-9.5a 10.5-10.5 0 0 1 10.5-10.5v1a-9.5 9.5 0 0 0-9.5 9.5a-10.5 10.5 0 0 1-10.5 10.5z' fill='rgba(187, 156, 132,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ")
}

.paws {
   position: absolute;
   height: 170px;
   width: 170px;
   margin-top: 560px;

   border-radius: 50%;
   border: 1px rgb(49, 29, 23) solid;

   /* freefrontend.com - Temani Afif - Diagonal Wavy Pattern */
   --s: 45px;
   --c1: rgb(151, 108, 80);
   --c2: rgb(204, 169, 141);
   --_g:
      var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%, var(--c1) 36% 44%,
      var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%, var(--c1) 76% 84%, var(--c2) 86% 94%;
   background:
      radial-gradient(100% 100% at 100% 0, var(--c1) 4%, var(--_g), rgb(49, 29, 23) 96%, #0000),
      radial-gradient(100% 100% at 0 100%, #0000, rgb(49, 29, 23) 4%, var(--_g), var(--c1) 96%) var(--c1);
   background-size: var(--s) var(--s);
}

.text-container {
   display: block!important;
   position: absolute;
   border-right: 2px solid black;
   border-bottom: 2px solid black;
   border-bottom-right-radius: 3px;
   height: 18px;
   padding: 2px;

   align-items: center;

   font-family: DuranMedium;
   letter-spacing: 2px;
   font-size: 16px;
   text-indent: 0px!important;
   line-height: 1;
}

#time-container {
   display: flex;
   justify-content: center;
   text-indent: 0;
   margin-top: 36px;
}

#time-header {
   width: 233px;
}

#title-container {
   display: flex;
   flex-wrap: wrap;

   width: 250px;
   height: 75px;
   border-right: 4px solid black;

   font-family: Eskool;
   font-size: 24px;
   letter-spacing: .5px;
   text-indent: 57px;
   line-height: 30px;
}