/* div styling below */
.trip-show-button {
    padding: 2px 5px;
    margin-bottom: 4px;
    background-color: white;
    border: 1px solid rgb(20, 18, 14);
    text-align: start;
    font-size: 12px;
    cursor: pointer;
}

.top-margin {
    position: absolute;
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.navigation-buttons > button {
    display: block;
    border: 1px solid black;
    background-color: white;
    height: 30px;
    font-size: 15px;
    width: 84px;
}

#form-button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width:50px;
    height:50px;
    padding-right: 650px;
}

#info-container {
    width: auto;
    height: auto;

    padding: 10px 48px;
    padding-right: 59px;
}

#info-container > div {
    display: flex;
    text-decoration: underline;
    line-height: 1.8;
}

#info-container > p {
    font-size: 12px;
}

.left-space {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items:end
}

#post-card-bottom {
    display: flex;
    justify-content: space-between;

    width: 600px;
    height: 50px;
}

#post-card-center-border {
    height: 200px;
    width: 5px;
    border-right: 1px solid rgb(20, 18, 14);
    border-left: 1px solid rgb(20, 18, 14);
}

#post-card-body-container {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 500px;
}

#post-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 400px;
    padding: 10px;

    background-color: rgb(254, 249, 238);
    border-radius: 3px;
    border: 1px solid rgb(180, 157, 120);
}

.post-card-space {
    width: 340px;
    height: 260px;
    padding: 4px;
}

.trip-show-page-container {
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}

.trip-show-description {
    margin-top: 20px;
}

.trip-show-page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.trip-show-page-header-wrapper {
    height: 40px;
    margin: 20px 0px;
    z-index: 1;
}

.trip-show-page-header-wrapper > div > h2 {
    height: min-content;
    font-size: 32px;
    font-family: LaborUnion;
}

.trip-show-page-header-wrapper > div > p {
    font-size: 11px;
    width: auto;
}

#top-body-border {
    display: flex;
    justify-content: space-evenly;
    width: 560px;
    margin-top: 20px;
    margin-bottom: 4px;
    border-bottom: 1px solid rgb(20, 18, 14);
}

.patch-buttons {
    width: 70px;
    padding-right: 0px;
}


/* quack-it zig-zag */
.pattern {
    min-height: 100vh;
    width: 100%;
}

#zig-zag11 {
    position: absolute;
    z-index: -1;
    background:
        linear-gradient(135deg, rgb(247, 246, 245) 25%, transparent 25%) -10px 0,
        linear-gradient(225deg, rgb(247, 246, 245) 25%, transparent 25%) -10px 0,
        linear-gradient(315deg, rgb(247, 246, 245) 25%, transparent 25%),
        linear-gradient(45deg, rgb(247, 246, 245) 25%, transparent 25%);
    background-size: 20px 20px;
    background-color: #fff;
}

.post-card-members-wrapper {
    margin: 5px 0px 5px 40px;
}

.post-card-members-wrapper > div {
    margin: 5px 0px ;
}

.post-card-members-wrapper > div > span {
    margin: 0px 4px ;
    font-family: cursive;
    font-size: 18px;
}

.add-a-member {
    margin-left: 50px;
    width: min-content;
}

.add-a-member > span {
    margin-left: 5px;
    cursor: pointer;
}