/* div styling below */
#create-event-button {
    position: absolute;
    width: 120px;
    height: 35px;
    background-color: white;
    border: 1px solid rgb(20, 18, 14);

    text-align: start;
    font-size: 14px;
    cursor: pointer;
    margin-left: 570px;
}

#post-card-center-border {
    height: 200px;
    width: 5px;
    border-right: 1px solid rgb(20, 18, 14);
    border-left: 1px solid rgb(20, 18, 14);
}

#post-card-body-container {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 500px;
}

#post-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 400px;
    padding: 10px;

    background-color: rgb(254, 249, 238);
    border-radius: 3px;
    border: 1px solid rgb(180, 157, 120);
}

#post-card-left-container {
    width: 340px;
    height: 300px;
    padding: 4px;
}

#post-card-right-container {
    width: 340px;
    height: 300px;
    padding: 4px;
}

.trip-show-page-container {
    display: flex;
    justify-content: center;
    padding-top: 240px;
}

.trip-show-page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trip-show-page-header-wrapper {
    height: 40px;
    margin: 20px 0px;
}

.trip-show-page-header-wrapper > div > h2 {
    font-size: 32px;
    font-family: LaborUnion;
}

.trip-show-page-header-wrapper > div > p {
    font-size: 11px;
    width: auto;
}

#top-body-border {
    width: 560px;
    margin-bottom: 4px;
    border-top: 1px solid rgb(20, 18, 14);
}

/* quack-it zig-zag */
.pattern {
    min-height: 100vh;
    width: 100%;
}

#zig-zag11 {
    position: absolute;
    z-index: -1;
    background:
        linear-gradient(135deg, rgb(247, 246, 245) 25%, transparent 25%) -10px 0,
        linear-gradient(225deg, rgb(247, 246, 245) 25%, transparent 25%) -10px 0,
        linear-gradient(315deg, rgb(247, 246, 245) 25%, transparent 25%),
        linear-gradient(45deg, rgb(247, 246, 245) 25%, transparent 25%);
    background-size: 20px 20px;
    background-color: #fff;

}