form > .errors {
  color: red;
  font-size: 0.875em;
  height: auto;
  display: flex;
  align-items: center;
}

#session-form-container {
  position: fixed;
  background-color: white;
  border: 2px solid black;
  left: 35vw;
  right: auto;
  top: 30%;
  width: 480px;
  height: 30%;
  min-height: 290px;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.session-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 40px 82px;
  padding-left: 20%;
}

.session-form > h2 {
  padding-left: 4px;
  padding-bottom: 24px;
  text-decoration: underline;

  font-size: 18px;
}

.session-form > label {
  width: auto;
  text-decoration: none;
  padding: 2px;
  padding-bottom: 10px;
}

.session-form > label > input {
  border: 0;
  border-bottom: 1px solid black;
  min-width: 72%;
  outline: none;
  height: 20px;
  overflow: auto;
  padding-left: 4px;
}

.session-form > input {
  width: 74px;
  height: 25px;
  border: 0;
  background-color: white;
  text-align: start;
  cursor: pointer;
}

#signup-h2 {
  padding-bottom: 20px;
}

#switch-auth-button {
  display: block;
  position: absolute;
  margin-left: 388px;
  margin-bottom: 245px;
  width: fit-content;
  padding: 3px 6px;

  box-shadow: 0px 0px 2px rgb(211, 206, 201);
  border: 1px solid black;
  background-color: white;

  font-size: 12px;
}