.event-index {
   padding: 16px;
   line-height: 1.6;
   font-size: 14px;
   font-family: DuranMedium;
   color: rgb(37, 32, 27);
}

.event-index > h3 {
   font-size: 18px;
   padding-bottom: 5px;
   line-height: 1;
   font-family: Eskool;
}

.event-index > div:nth-child(2) {
   margin-bottom: 9px;
}

.event-index > div:last-child {
   font-size: 14px;
   letter-spacing: 3px;
   line-height: 1.8;
   font-family: Eskool;
}


#splash-page-container {
   height: 100vh;

   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   overflow: hidden;
}

#splash-page-container > div {
   display: block;
   width: 25%;
   min-width: 330px;
}

#tripit-container {
   position: absolute;
   left: 35%;
   top: 30%;

   width: 480px!important;
   height: 30%;
   min-height: 244px;

   background-color: white;
   font-size: 40px;
   cursor: pointer;
}

#tripit-logo {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;

   font-family: ShoCard;
   font-size: 52px;
   color: ;
}